.card {
  background-color: $card-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;

  img {
    width: 150px;
  }

  p {
    text-transform: capitalize;
  }
}