.card {
  background-color: $card-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;

  img {
    width: 150px;
  }

  p {
    text-transform: capitalize;
  }
}

.card:hover {
  scale: 1.05;
  transition: $transition-time;
  background-color: $header-color;
  color: $white-font;
}
