main {
  overflow: auto;

  .score-board{ 
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 50px;
    row-gap: 10px;

    h1 {
      grid-column: 1 / -1;
      text-align: center;
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 10px;
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      width: 250px;
    }
  }
}
