* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: grid;
  grid-template-rows: $header-height calc(100vh - $header-height - $footer-height) $footer-height;
}