footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $header-color;
  height: $footer-height;

  a {
    display: flex;
    gap: 2px;
  }

  ion-icon {
    font-size: 1.1rem;
  }

  a, ion-icon {
    color: $white-font;
    text-decoration: none;
  }
}