main {
  overflow: auto;

  .card {
    background-color: $card-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 30%);
  
    img {
      width: 150px;
    }
  
    p {
      text-transform: capitalize;
    }
  }
  
  .card:hover {
    scale: 1.05;
    transition: $transition-time;
    background-color: $header-color;
    color: $white-font;
    cursor: pointer;
  }
    
  .score-board{ 
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 50px;
    row-gap: 10px;

    h1 {
      grid-column: 1 / -1;
      text-align: center;
    }
  }

  .card-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 50px;
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      width: 250px;
    }
  }

  .start-page {
    height: 100%;
    background-color: $card-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: 1.4rem;

    p {
      font-size: 0.8rem;
      font-style: italic;
    }

    .start-buttons {
      display: flex;
      gap: 5px;
    }

    select {
      padding: 5px 0px;
    }

    button {
      padding: 5px 10px;
      background-color: $header-color;
      color: $white-font;
      border: 0;
      border-radius: 4px;
    }

    button:hover, select:hover {
      scale: 1.05;
      transition: $transition-time;    
    }
  }

  .winner-display {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  button, select {
    cursor: pointer;
  }
}
